<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>手拙无极限</string>
	<string>初出茅庐</string>
	<string>熟能生巧</string>
	<string>心闲手敏</string>
	<string>渐入佳境</string>
	<string>心手合一</string>
	<string>六指琴魔</string>
	<string>唯我独尊</string>
</array>
</plist>
