<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>490</integer>
	<integer>490</integer>
	<real>482.5</real>
	<real>482.5</real>
	<integer>475</integer>
	<real>467.5</real>
	<real>467.5</real>
	<integer>460</integer>
	<integer>460</integer>
	<real>452.5</real>
	<real>452.5</real>
	<integer>445</integer>
</array>
</plist>
