<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<real>479.5</real>
	<real>479.5</real>
	<integer>472</integer>
	<integer>472</integer>
	<real>464.5</real>
	<integer>457</integer>
	<integer>457</integer>
	<real>449.5</real>
	<real>449.5</real>
	<integer>442</integer>
	<integer>442</integer>
	<real>434.5</real>
	<integer>427</integer>
	<integer>427</integer>
	<real>419.5</real>
	<real>419.5</real>
	<integer>412</integer>
	<real>404.5</real>
	<real>404.5</real>
	<integer>397</integer>
	<integer>397</integer>
	<real>389.5</real>
	<real>389.5</real>
	<integer>382</integer>
	<real>374.5</real>
	<real>374.5</real>
	<integer>367</integer>
	<integer>367</integer>
	<real>359.5</real>
	<integer>352</integer>
	<integer>352</integer>
	<real>344.5</real>
	<real>344.5</real>
	<integer>337</integer>
	<integer>337</integer>
	<real>329.5</real>
	<integer>322</integer>
	<integer>322</integer>
	<real>314.5</real>
	<real>314.5</real>
	<integer>307</integer>
	<real>299.5</real>
	<real>299.5</real>
	<integer>292</integer>
	<integer>292</integer>
	<real>284.5</real>
	<real>284.5</real>
	<integer>277</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
	<integer>0</integer>
</array>
</plist>
